hs_err_pid*.log
nohup.out
.idea
*.iml
**/.idea
*/.classpath
*/.project
*/.settings
*/.cache
*/test-output/
*.log
data/*
spark-deep-distribution*
*/*.versionsBackup
target/
*GitIgnored*
*.asc
*.gpg
deep-jdbc/jdbccellextractor.properties
deep-jdbc/jdbccellextractor.script
deep-jdbc/jdbcentityextractor.properties
deep-jdbc/jdbcentityextractor.script
